@inject MeetingQuery _meetingQuery
@inject UserManager<User> _userManager
@model int

@{
    var userId = _userManager.GetUserId(User);
}


<div class="subscriptionArea">

    @if (userId != null && await _meetingQuery.IsUserSubscribedMeeting(Model, userId))
    {
        <a class="unsubscribeBtn btn btn-danger" data-meetingId="@Model" asp-controller="Meeting" asp-action="UnsubscribeMeeting" asp-route-meetingId="@Model"
           >Unsubscribe</a>
    }
    else
    {
        <a class="subscribeBtn btn btn-success" data-meetingId="@Model" asp-controller="Meeting" asp-action="SubscribeMeeting" asp-route-meetingId="@Model"
           >Subscribe</a>
    }

</div>






