@model Community.ModelViews.MeetingViewModels.MeetingCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" type="date" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input type="file" />
            </div>
        
            <div>
                @await Html.PartialAsync("_LocationSearchPartial")
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete","Location")">
            </div>

            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <textarea asp-for="Street" class="form-control"></textarea>
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingCategories" class="control-label"></label>
                <select asp-items="@(new SelectList(new List<string> { "1", "2","1", "2" }))" class="form-control"></select>
            </div>

            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>
