@model Community.ModelViews.MeetingViewModels.MeetingCreateViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="MeetingCreate" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetingDate" class="control-label"></label>
                    <input asp-for="MeetingDate" type="date" />
                    <span asp-validation-for="MeetingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhotoPath" class="control-label"></label>
                    <input asp-for="PhotoPath" type="file" id="image-file" />
                    <span asp-validation-for="PhotoPath" class="text-danger"></span>
                </div>

               @{ 
                   await Html.RenderPartialAsync("~/Views/MeetingPartials/_LocationSearchPartial.cshtml");
               }

                <div class="form-group">
                    <label asp-for="MeetingCategories" class="control-label"></label>
                    <select asp-for="MeetingCategoryId" asp-items="@(new SelectList(Model.MeetingCategories,"Id","Name"))" class="form-control"></select>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>


                <input type="submit" value="Save" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>

